{# display form errors #}
{% load i18n %}
{% if form.non_field_errors %}
   <div class="alert alert-danger">
     <ul><strong>{% trans 'Correct the following' %}:</strong>
     {% for error in form.non_field_errors %}
       <li>{{ error|escape }}</li>
     {% endfor %}
     </ul>
   </div>
{% endif %}
{% for field in form.fields %}
  {% if field.errors %}
    <div class="alert alert-danger">
     <ul class="list-inline"><strong>{{ field.label }}</strong>
       {% for error in field.errors %}
         <li>{{ error|escape }}</li>
       {% endfor %}
     </ul>
    </div>
  {% endif %}
{% endfor %}