{% load i18n %}
{% load snort_extras %}
<nav class="navbar navbar-default">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'site_home' %}">Web Security</a>
    </div>
    <div class="collapse navbar-collapse">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li class="{{ request|activate_if_active:'dashboard' }}"><a href="{% url 'dashboard' %}" >{% trans 'Dashboard' %}</a></li>
        <li class="{{ request|activate_if_active:'edit_configuration' }}"><a href="{% url 'edit_configuration' %}">{% trans 'Edit Configuration' %}</a></li>
        <li class="{{ request|activate_if_active:'devices' }}"><a href="{% url 'devices' %}" >{% trans 'Devices' %}</a></li>
        <li class="{{ request|activate_if_active:'reports' }}"><a href="{% url 'reports' %}" >{% trans 'Reports' %}</a></li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-expanded="false"><strong>{{ user.username }}</strong>{{ user.profile.avatar }}<span class="caret"></span></a>  
           <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'edit_profile' %}">{% trans 'Edit Profile' %}</a></li>
              <li><a href="{% url 'logout_user' %}">{% trans 'Logout' %}</a></li>
            </ul>
         </li>
       {% else %}
         <li class="{{ request|activate_if_active:'login_user' }}"><a href="{% url 'login_user' %}">{% trans 'Log in' %}</a></li>
       {% endif %}
      </ul>
    </div>
  </div>
</nav>