{% extends "SnortDeLaWeb/_layout.html" %}
{% load static %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<style type="text/css">
  #alerts, #flows, #comp-susp {
    width:450px;
    height:450px;
  }
</style>
{% dajaxice_js_import %}
{% endblock %}
{% block subtitle %}Dashboard{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
{% include "SnortDeLaWeb/_messages.html" %}
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="alerts">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="flows">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="comp-susp">
    </div>
  </div>
</div>
{% endblock %}