{% extends "SnortDeLaWeb/_layout.html" %}
{% load i18n %}
{% load snort_extras %}
{% block subtitle %}{% trans 'Devices' %}{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="page-header">{% trans 'Devices' %}</h2>
      {% include "SnortDeLaWeb/_messages.html" %}
      <div class="panel">
        <form method="POST" action="" class="form-invisible">{% csrf_token %}
	      <table class="table table-hover">
	        <thead>
	         <tr>
	           <th>{% trans 'Device' %}</th>
	           <th>{% trans 'Case' %}</th>
	           <th>{% trans 'Malware Name' %}</th>
	           <th>{% trans 'Priority' %}</th>
	           <th>{% trans 'OS' %}</th>
	           <th>{% trans 'Note' %}</th>
	         </tr>
	        </thead>
	        <tbody>
	          {% for device, form in devices_forms %}
	            {% for field in form.hidden_fields %}
	              {{ field }}
	            {% endfor %}
	            <tr>
	              <td>{{ device.address }}</td>
	              <td class="{{ device.status|status_class }}">{{ form.status }}</td>
	              <td class="{{ device.malwarename|malwarename_class }}">{{ device.malwarename|default:'__' }}</td>
	              <td>{{ device.priority }}</td>
	              <td>{{ device.os }}</td>
	              <td>{{ form.note }}</td>
	            </tr>
	          {% empty %}
	            <h2>{% trans 'No Devices Found' %}</h2>
	          {% endfor %}
	        </tbody>
	      </table>
	        <input type="submit" class="btn btn-primary btn-sm pull-right" value="{% trans 'Save edits' %}"/>
	      </form>
	    </div>
    </div>
  </div>
</div>
{% endblock %}