{% extends "SnortDeLaWeb/_layout.html" %}
{% block subtitle %}Edit Profile{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
	    <h2>Update Profile Information</h2>
	    {% include "SnortDeLaWeb/_form_errors.html" %}
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal" method="post" action="" enctype="application/x-www-form-urlencoded">{% csrf_token %}
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}" class="col-xs-2 control-label">{{ form.email.label }}</label>
        <div class="col-xs-4">
          <input type="email" name="{{ form.email.html_name }}" class="form-control" placeholder="Email" value="{{ user.email }}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}" class="col-xs-2 control-label">{{ form.old_password.label }}</label>
        <div class="col-xs-4">
          <input type="password" name="{{ form.old_password.html_name }}" class="form-control" placeholder="{{ form.old_password.label }}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}" class="col-xs-2 control-label">{{ form.new_password1.label }}</label>
        <div class="col-xs-4">
          <input type="password" name="{{ form.new_password1.html_name }}" class="form-control" placeholder="{{ form.new_password1.label }}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}" class="col-xs-2 control-label">{{ form.new_password2.label }}</label>
        <div class="col-xs-4">
          <input type="password" name="{{ form.new_password2.html_name }}" class="form-control" placeholder="{{ form.new_password2.label }}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.avatar.id_for_label }}" class="col-xs-2 control-label">{{ form.avatar.label }}</label>
        <div class="col-xs-4">
          {{ form.avatar }}
        </div>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <input class="btn btn-success" type="submit" value="Save"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}