{% extends "SnortDeLaWeb/_layout.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}
{% block subtitle %}User Login{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
 <div class="container">
    <form class="form-signin" method="post" action="">{% csrf_token %}
      <h2 class="form-signin-heading">Sign in</h2>
      {% include "SnortDeLaWeb/_form_errors.html" %}
      <label for="username" class="sr-only">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember_me"> Remember me
        </label>
      </div>
      <button class="btn btn-default btn-success" type="submit">Sign in</button>
      <a href="{% url 'register_user' %}" class="btn btn-default btn-primary pull-right">Sign Up!</a>
    </form>
  </div>
{% endblock %}