{% extends "SnortDeLaWeb/_layout.html" %}
{% load staticfiles %}
{% block subtitle %}Registration Form{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
			<form class="form-horizontal" method="post" action="">{% csrf_token %}
			  <h2>Enter Registration Details</h2>
			  {% include "SnortDeLaWeb/_form_errors.html" %}
			  <div class="form-group">
			    <label for="username" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" name="username" placeholder="Username" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="password1" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-4">
			      <input type="password" class="form-control" name="password1" placeholder="Password" required/>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="password2" class="col-sm-2 control-label">Confirm Password</label>
			    <div class="col-sm-4">
			      <input type="password" class="form-control" name="password2" placeholder="Confirm password" required/>
			    </div>
			  </div>
			  <div class="col-sm-4 col-sm-offset-2">
			    <button type="submit" class="btn btn-primary pull-right">Register</button>
			  </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}