{% extends "SnortDeLaWeb/_layout.html" %}
{% load i18n %}
{% load static %}
{% load dajaxice_templatetags %}
{% block subtitle %}{% trans 'Reports' %}{% endblock %}
{% block head %}
<script src="{% static 'js/moment.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% dajaxice_js_import %}
<script src="{% static 'js/reports.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="page-header">{% trans 'Reports' %}</h1>
      <div id="report-container">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge" id="compromised"></span>{% trans 'Compromised Devices' %}</li>
          <li class="list-group-item"><span class="badge" id="suspicious"></span>{% trans 'Suspicious Devices' %}</li>
          <li class="list-group-item"><span class="badge" id="remediated"></span>{% trans 'Remediated Devices' %}</li>
          <li class="list-group-item"><span class="badge" id="investigating"></span>{% trans 'Devices Under Investigation' %}</li>
          <li class="list-group-item"><span class="badge" id="new-malware"></span>{% trans 'New Malwares' %}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Choose a Start Date for Report' %}</h3>
        </div>
        <div class="panel-body">
          <div class="input-group date" id="date-start-picker">
            <input type='text' class="form-control" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Choose an End Date for Report' %}</h3>
        </div>
        <div class="panel-body">
          <div class="input-group date" id="date-end-picker">
            <input type='text' class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-sm">
        <div class="pull-right">
          <a class="btn btn-sm btn-primary" id="export-pdf" href="{% url 'download_report' %}">{% trans 'Export PDF' %}</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}