<!DOCTYPE html>
<html lang="en">
  <head>
		<style>
		.brand {
		  font-style: italic;
		  font-size: 12pt;
		  font-weight: bold;
		  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
		  margin: 4pt;
		  float: left;
		}
		.secondary {
		  float:right;
		  margin: 5pt;
		  font-size: 10pt;
		  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
		}
		.report-title {
		  text-align: center;
		  margin: 15px 0;
		}
		.center {
		  max-width: 800px;
		  margin: 40px auto;
		}
		.sep {
		  margin: 10px 0 20px 0;
		  clear: both;
		}
		table {
		  border-collapse: collapse;
		  border-radius: 4px;
		}
		table, th, td {
		  border: 2px solid black;
		  padding: 5px;
		}
		</style>
		<title>Device Report</title>
</head>
<body>
  <h1 class="brand">Web Security</h1>
  <h2 class="secondary">Report</h2>
  <hr class="sep"/>
<div class="center" id="content">
  <h1 class="report-title">Device Statistics</h1>
  <table>
    <thead>
      <tr>
        <th>Compromised</th>
        <th>Suspicious</th>
        <th>Remediated</th>
        <th>Under investigation</th>
        <th>New malwares</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ compromised }}</td>
        <td>{{ suspicious }}</td>
        <td>{{ remediated }}</td>
        <td>{{ investigating }}</td>
        <td>{{ new_malware }}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>