{% extends "SnortDeLaWeb/_layout.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/cover.css' %}"/>
{% endblock %}
{% block subtitle %}Security Homepage{% endblock %}
{% block content %}
<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Web Security</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="inner cover">
				<h1 class="cover-heading">Web Security</h1>
				<p class="lead">This application allows you to visualize security alerts and also export them</p>
				<p class="lead">
					<a href="{% url 'dashboard' %}" class="btn btn-lg btn-default">Go to Dashboard</a>
				</p>
			</div>


		</div>

	</div>

</div>
{% endblock %}