{% extends "SnortDeLaWeb/_layout.html" %}
{% load bootstrap %}
{% block subtitle %}Update Configuration{% endblock %}
{% block content %}
{% include "SnortDeLaWeb/_mainframe.html" %}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Edit Web Security Configuration</h1>
      <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="col-sm-offset-2 form-group">
          <input type="submit" class="btn btn-success" value="Save Configuration"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}